body {
  background: linear-gradient(rgba(201, 38, 38, 0.3), #feffcc),
    url(https://steamcdn-a.akamaihd.net/steam/apps/1055010/ss_fe281d52b46decba0d70707d1588ae5b48ce6151.1920x1080.jpg?t=1558980226);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", sans-serif;
}
.App {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin-top: 50px;
}

header {
  max-width: 10000px;
  height: 170px;
  font-family: "Segoe UI", sans-serif;
}
header h1 {
  color: #f8b22f;
  padding: 60px 10px;
  font-size: 70px;
}

button {
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #7809e0;
  background-color: #4d2c00;
  color: #ccffcc;
  margin: 25px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 20px;
  font-family: "Segoe UI", sans-serif;
}

.App-data {
  width: 100px;
  align-items: center;
  text-align: center;
  display: flex;
  font-family: "Vollkorn", serif;
}
.App-data img {
  align-items: center;
  width: 150px;
  border-radius: 30px;
  border: 5px solid #bace0b;
  margin: 20px;
  padding: 27px;
  background: rgb(20, 16, 16);
}
.detail {
  border: 6px solid #331400;
  margin: 20px;
  font-size: 20px;
  color: #ccffcc;
  background-color: #4d2900;
}
